<a href="https://colab.research.google.com/github/reyfdz/Probabilidad-y-estadisitica-de-datos/blob/main/Clase3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estadistica descriptiva

### Diccionarios 
$$\{\text{key}: \text{value}$$}

In [ ]:
alumnos = {"Rodolfo" :["leo", "azul", 1.9, 1, 21],
"Santiago" :["geminis", "rojo", 1.9,3,19],
"Gardo" :["cancer", "negro", 1.7,0,20],
"Desmond" :["leo", "blanco", 1.85,2,20],
"Andrea" :["Escoprio", "rosa", 1.7, 1, 19]}

In [ ]:
type(alumnos)

dict

In [ ]:
import pandas as pd

In [ ]:
index = ["signo", "color", "estatura", "hermanos", "edad"]
dfalumnos = pd.DataFrame(alumnos, index=index)
dfalumnos

         Rodolfo Santiago   Gardo Desmond    Andrea
signo        leo  geminis  cancer     leo  Escoprio
color       azul     rojo   negro  blanco      rosa
estatura     1.9      1.9     1.7    1.85       1.7
hermanos       1        3       0       2         1
edad          21       19      20      20        19

In [ ]:
alumnosdatos = dfalumnos.iloc[2:5]
alumnosdatos

         Rodolfo Santiago Gardo Desmond Andrea
estatura     1.9      1.9   1.7    1.85    1.7
hermanos       1        3     0       2      1
edad          21       19    20      20     19

In [ ]:
dfalumnos.iloc[2].mean()

1.8099999999999998

In [ ]:
dfalumnos.describe

<bound method NDFrame.describe of          Rodolfo Santiago   Gardo Desmond    Andrea
signo        leo  geminis  cancer     leo  Escoprio
color       azul     rojo   negro  blanco      rosa
estatura     1.9      1.9     1.7    1.85       1.7
hermanos       1        3       0       2         1
edad          21       19      20      20        19>

In [ ]:
dfalumnos.T.describe()

       signo color  estatura  hermanos  edad
count      5     5       5.0         5     5
unique     4     5       3.0         4     3
top      leo  azul       1.9         1    19
freq       2     1       2.0         2     2

In [ ]:
dfalumnos.T["edad"]

Rodolfo     21
Santiago    19
Gardo       20
Desmond     20
Andrea      19
Name: edad, dtype: object

In [ ]:
from itertools import product
Omega = set(product([1,2,3,4,5,6], repeat = 2))
len(Omega)

36